<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nesty</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="loginForm" method="post" action="/login">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="no">
                    <p>Dont have an account? <a href="/register">SignUp</a></p>
                </div>
                <button type="submit">submit</button>

            </form>
        </div>
    </div>
    <script>
        // document.getElementById("loginForm").addEventListener("submit", function(event) {
        //     event.preventDefault(); // Prevent form submission

        //     // Get the username and password values
        //     var username = document.getElementById("username").value;
        //     var password = document.getElementById("password").value;

        //     // Perform your validation here
        //     if (username === "example" && password === "password123") {
        //         // Valid credentials, perform login
        //         alert("Logged in successfully!");
        //         // You can redirect the user or perform other actions here
        //     } else {
        //         // Invalid credentials, display alert message
        //         alert("Wrong username or password. Please try again.");
        //     }
        // });
    </script>
</body>
</html>
